.container-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;;

  h1 {
    color: white;
  }

  p {
    color: white;
  }

  a {
    padding: 1rem;
    background-color: #811AC0;
    color: white;
    border-radius: 10px;
  }
}