.input {
  display: block;
  width: 35%;
  min-width: 23rem;
  margin: 1rem auto;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #E7E6E6;
  color: #E7E6E6;
}